div {
  color: pink;
  transform: translateY(100px);
}
.ceshi {
  color: #fff;
}
.ceshi1 {
  color: #fff;
}
.ceshi2 {
  color: #fff;
}
.ceshi3 {
  color: #fff;
}
.ceshi4 {
  color: #fff;
}
.ceshi6 {
  color: #fff;
}
